.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  padding: 0;
  margin: 0;
}

.container {
  font-family: Roboto;
  /* display: flex; */

}

.logo {
  float: left;
}

.logo>img {
  height: 60px;
}

ul {
  float: right;
  list-style-type: none;
   display: flex;
  justify-content: center;
}

li {
  display: inline;
  padding: 15px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

li>a {
  text-decoration: none;
}
